.container {
    width: 575px;
    height: 625px;
  
    background-color: #10cbcb;
    padding-left: 30px;
    border-radius: 20px;
    margin: 1rem 3rem 1rem 3rem;
    background: transparent;
    border:2px solid white;
    backdrop-filter: blur(10px);
    
    
  }
  body{
   background-color: #212121;
   background-image: url("bg-img3.webp");
   background-size: cover;
  }
  .main{
    display: flex ;
    justify-content: center;
    align-content: center;
  }
  .nav{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
    border-radius: 10px;
    border:none;
    outline: none;
  }
  
  #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
  }
  
  button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: red;
    padding: 5px 22px;
    border-radius: 8px;
    color: yellow;
    text-decoration: none;
    border: 2px solid;
    
    font-size: 25px;
  }
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    text-align: center;
    color: #212121;
    
  }

nav a{
    margin-left: 20px;
    font-size: 30px;
    text-decoration: none;
}
.title {
    display: flex;
    justify-content: center;
}
.P{
 font-size: 40px;
}
.p1{
    font-weight: 900;
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.p2 {
  font-weight: 900;
    color: white;
    text-decoration: underline;
    text-decoration-color:red;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.form p {
    font-size: 20px;
}
.img{
    display: flex;
    justify-content: center;
}
.details{
    display: inline;
    text-align: center;
    font-size: 20px;
    color: coral;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.details a {
  text-decoration: none;
  color: rgb(101, 101, 236);
}
